.App {
  width: 50%;
  margin: 10px auto;
}

.square {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: none;
  border-right: none;
  background: #fff;
  height: 100px;
  width: 100px;
  text-align: center;
  font-weight: bold;
  padding: 0;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 30px;
}

.board .flex:nth-child(1) .square:nth-child(1) {
  border-top-left-radius: 10px;
}
.board .flex:nth-child(1) .square:nth-child(3) {
  border-top-right-radius: 10px;
}

.board .flex:nth-child(3) .square:nth-child(1) {
  border-bottom-left-radius: 10px;
}
.board .flex:nth-child(3) .square:nth-child(3) {
  border-bottom-right-radius: 10px;
}

.board {
  width: 303px;
  height: 303px;
  border-bottom: none;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 30px auto;
  border-radius: 10px;
}
.flex {
  display: flex;
}
.game {
  width: 500px;
  margin: 30px auto;
  padding: 20px 0;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
}
